<section id="home" data-parallax="scroll">
    <div class="overlay"></div>
    <div class="home-content">        
        <div class="row contents">                         <p> </p>
              <p> </p>
                <p> </p>
            <div class="home-content-left">
                <h1 class="header">Apikey : <%= apikey %></h1>
                <h3 class="header">Username : <%= username %></h3>
                <h3>Limit : <%= limit %>/<%= limitCount %></h3>
                <p> </p>
                <p> </p>
                <div class="buttons">
                    <a href="/docs" class="button not stroke" target="__blank">
                        Back
                    </a>
                    </a>
                </div>                                         
            </div>
        </div>
    </div> 
</section> 